Repository UB-ES-2020-A/Booken, pull requests merged in 2020-12, with the labels that each got.

#366 ticket and bug fixes
  backend/flask-api/__pycache__/add_data.cpython-38.pyc
  backend/flask-api/__pycache__/app.cpython-38.pyc
  backend/flask-api/__pycache__/data.cpython-38.pyc
  backend/flask-api/__pycache__/db.cpython-38.pyc
  backend/flask-api/data.db
  backend/flask-api/migrations/__pycache__/env.cpython-38.pyc
  backend/flask-api/migrations/versions/0d8340630811_.py
  backend/flask-api/migrations/versions/__pycache__/0d8340630811_.cpython-38.pyc
  backend/flask-api/migrations/versions/__pycache__/63133e693e1d_.cpython-38.pyc
  backend/flask-api/models/__pycache__/accounts.cpython-38.pyc
  backend/flask-api/models/__pycache__/address.cpython-38.pyc
  backend/flask-api/models/__pycache__/articles.cpython-38.pyc
  backend/flask-api/models/__pycache__/author.cpython-38.pyc
  backend/flask-api/models/__pycache__/book.cpython-38.pyc
  backend/flask-api/models/__pycache__/contact.cpython-38.pyc
  backend/flask-api/models/__pycache__/data_retriever.cpython-38.pyc
  backend/flask-api/models/__pycache__/faq.cpython-38.pyc
  backend/flask-api/models/__pycache__/orders.cpython-38.pyc
  backend/flask-api/models/__pycache__/payment_card.cpython-38.pyc
  backend/flask-api/models/__pycache__/review.cpython-38.pyc
  backend/flask-api/models/__pycache__/wishlist.cpython-38.pyc
  backend/flask-api/models/articles.py
  backend/flask-api/models/data_retriever.py
  backend/flask-api/models/orders.py
  backend/flask-api/models/payment_card.py
  backend/flask-api/resources/__pycache__/account_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/address_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/article.cpython-38.pyc
  backend/flask-api/resources/__pycache__/author.cpython-38.pyc
  backend/flask-api/resources/__pycache__/book.cpython-38.pyc
  backend/flask-api/resources/__pycache__/contact_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/data_retriever_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/faq.cpython-38.pyc
  backend/flask-api/resources/__pycache__/login_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/order.cpython-38.pyc
  backend/flask-api/resources/__pycache__/payment_card_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/review.cpython-38.pyc
  backend/flask-api/resources/__pycache__/wishlist.cpython-38.pyc
  backend/flask-api/resources/order.py
  frontend/booken/package-lock.json
  frontend/booken/package.json
  frontend/booken/public/index.html
  frontend/booken/src/App.vue
  frontend/booken/src/assets/ticket.scss
  frontend/booken/src/components/ConfirmOrder.vue
  frontend/booken/src/components/ControlPanel.vue
Labels: backend, bug, frontend

#368 Bug6
  backend/flask-api/__pycache__/app.cpython-38.pyc
  backend/flask-api/app.py
  backend/flask-api/models/__pycache__/category_faq.cpython-38.pyc
  backend/flask-api/models/__pycache__/data_retriever.cpython-38.pyc
  backend/flask-api/models/__pycache__/orders.cpython-38.pyc
  backend/flask-api/models/data_retriever.py
  backend/flask-api/resources/__pycache__/book.cpython-38.pyc
  backend/flask-api/resources/__pycache__/category_faq.cpython-38.pyc
  backend/flask-api/resources/category_faq.py
Labels: backend, bug

#371 Bug1
  frontend/booken/src/App.vue
  frontend/booken/src/assets/ticket.scss
  frontend/booken/src/router/index.js
Labels: bug, frontend

#370 fix bug7
  frontend/booken/src/assets/ticket.scss
Labels: bug, frontend

#372 fix
  backend/flask-api/Procfile
  backend/flask-api/__pycache__/app.cpython-38.pyc
  backend/flask-api/resources/__pycache__/category_faq.cpython-38.pyc
  frontend/booken/src/main.js
Labels: backend, bug, frontend

#373 asd
  backend/flask-api/Procfile
  frontend/booken/public/index.html
Labels: backend, bug, frontend

#374 Bug1
  .travis.yml
  backend/flask-api/Procfile
  backend/flask-api/__pycache__/app.cpython-38.pyc
  frontend/booken/.env.debug
  frontend/booken/.env.development
  frontend/booken/.env.production
  frontend/booken/.env.staging
  frontend/booken/package.json
  frontend/booken/public/index.html
  frontend/booken/src/main.js
  frontend/booken/src/router/index.js
Labels: bug, frontend

#375 Bug1
  .travis.yml
Labels: bug, frontend

#384 fix tests
  backend/flask-api/models/orders.py
  backend/flask-api/resources/article.py
  backend/flask-api/resources/order.py
  backend/flask-api/resources/payment_card_rs.py
  backend/flask-api/test.db
  backend/flask-api/tests/Article_test.py
  backend/flask-api/tests/Order_test.py
Labels: backend, bug

#389 Coverity scan
  .travis.yml
Labels: CI/CD, backend

#393 fix bug10
  backend/flask-api/requirements.txt
  frontend/booken/package-lock.json
Labels: backend, bug

#395 Bug1
  frontend/booken/src/router/index.js
Labels: bug, frontend

#396 Bug1
  README.md
  backend/flask-api/app.py
Labels: backend, bug, frontend

#398 Asd
  backend/flask-api/__pycache__/app.cpython-38.pyc
  backend/flask-api/__pycache__/db.cpython-38.pyc
  backend/flask-api/app.py
  backend/flask-api/models/__pycache__/accounts.cpython-38.pyc
  backend/flask-api/models/__pycache__/address.cpython-38.pyc
  backend/flask-api/models/__pycache__/articles.cpython-38.pyc
  backend/flask-api/models/__pycache__/author.cpython-38.pyc
  backend/flask-api/models/__pycache__/book.cpython-38.pyc
  backend/flask-api/models/__pycache__/category_faq.cpython-38.pyc
  backend/flask-api/models/__pycache__/contact.cpython-38.pyc
  backend/flask-api/models/__pycache__/faq.cpython-38.pyc
  backend/flask-api/models/__pycache__/orders.cpython-38.pyc
  backend/flask-api/models/__pycache__/payment_card.cpython-38.pyc
  backend/flask-api/models/__pycache__/review.cpython-38.pyc
  backend/flask-api/models/__pycache__/wishlist.cpython-38.pyc
  backend/flask-api/resources/__pycache__/account_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/address_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/article.cpython-38.pyc
  backend/flask-api/resources/__pycache__/author.cpython-38.pyc
  backend/flask-api/resources/__pycache__/book.cpython-38.pyc
  backend/flask-api/resources/__pycache__/category_faq.cpython-38.pyc
  backend/flask-api/resources/__pycache__/contact_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/data_retriever_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/faq.cpython-38.pyc
  backend/flask-api/resources/__pycache__/login_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/mail_sender_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/order.cpython-38.pyc
  backend/flask-api/resources/__pycache__/payment_card_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/review.cpython-38.pyc
  backend/flask-api/resources/__pycache__/wishlist.cpython-38.pyc
  backend/flask-api/utils/__pycache__/data_retriever.cpython-38.pyc
  backend/flask-api/utils/__pycache__/mail_sender.cpython-38.pyc
  frontend/booken/.env.debug
  frontend/booken/.env.development
  frontend/booken/.env.production
  frontend/booken/.env.staging
Labels: backend, bug

#414 Enh1
  backend/flask-api/models/accounts.py
  frontend/booken/package-lock.json
  frontend/booken/package.json
  frontend/booken/src/App.vue
  frontend/booken/src/components/BookInfo.vue
  frontend/booken/src/components/ConfirmOrder.vue
  frontend/booken/src/components/Contact.vue
  frontend/booken/src/components/ControlPanel.vue
  frontend/booken/src/components/FAQ.vue
  frontend/booken/src/components/ShowBooks.vue
  frontend/booken/src/main.js
Labels: backend, enhancement, frontend

#417 enh2
  backend/flask-api/__pycache__/app.cpython-38.pyc
  backend/flask-api/__pycache__/db.cpython-38.pyc
  backend/flask-api/app.py
  backend/flask-api/data.db
  backend/flask-api/migrations/__pycache__/env.cpython-38.pyc
  backend/flask-api/migrations/versions/__pycache__/0d8340630811_.cpython-38.pyc
  backend/flask-api/migrations/versions/__pycache__/b762289ca485_.cpython-38.pyc
  backend/flask-api/migrations/versions/b762289ca485_.py
  backend/flask-api/models/__pycache__/accounts.cpython-38.pyc
  backend/flask-api/models/__pycache__/address.cpython-38.pyc
  backend/flask-api/models/__pycache__/articles.cpython-38.pyc
  backend/flask-api/models/__pycache__/author.cpython-38.pyc
  backend/flask-api/models/__pycache__/book.cpython-38.pyc
  backend/flask-api/models/__pycache__/category_faq.cpython-38.pyc
  backend/flask-api/models/__pycache__/contact.cpython-38.pyc
  backend/flask-api/models/__pycache__/faq.cpython-38.pyc
  backend/flask-api/models/__pycache__/log.cpython-38.pyc
  backend/flask-api/models/__pycache__/orders.cpython-38.pyc
  backend/flask-api/models/__pycache__/payment_card.cpython-38.pyc
  backend/flask-api/models/__pycache__/review.cpython-38.pyc
  backend/flask-api/models/__pycache__/wishlist.cpython-38.pyc
  backend/flask-api/models/log.py
  backend/flask-api/resources/__pycache__/account_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/address_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/article.cpython-38.pyc
  backend/flask-api/resources/__pycache__/author.cpython-38.pyc
  backend/flask-api/resources/__pycache__/book.cpython-38.pyc
  backend/flask-api/resources/__pycache__/category_faq.cpython-38.pyc
  backend/flask-api/resources/__pycache__/contact_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/data_retriever_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/faq.cpython-38.pyc
  backend/flask-api/resources/__pycache__/login_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/logs_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/mail_sender_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/order.cpython-38.pyc
  backend/flask-api/resources/__pycache__/payment_card_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/review.cpython-38.pyc
  backend/flask-api/resources/__pycache__/wishlist.cpython-38.pyc
  backend/flask-api/resources/login_rs.py
  backend/flask-api/resources/logs_rs.py
  backend/flask-api/utils/__pycache__/data_retriever.cpython-38.pyc
  backend/flask-api/utils/__pycache__/mail_sender.cpython-38.pyc
  backend/flask-api/utils/data_retriever.py
  frontend/booken/package-lock.json
  frontend/booken/package.json
  frontend/booken/src/App.vue
  frontend/booken/src/components/ControlPanel.vue
Labels: backend, enhancement, frontend

#418 Bug9
  frontend/booken/package-lock.json
  frontend/booken/package.json
  frontend/booken/src/App.vue
Labels: enhancement, frontend

#442 Enh3
  backend/flask-api/__pycache__/db.cpython-38.pyc
  backend/flask-api/data.db
  backend/flask-api/models/__pycache__/articles.cpython-38.pyc
  backend/flask-api/models/__pycache__/faq.cpython-38.pyc
  backend/flask-api/models/__pycache__/review.cpython-38.pyc
  backend/flask-api/models/review.py
  backend/flask-api/resources/__pycache__/article.cpython-38.pyc
  backend/flask-api/resources/__pycache__/category_faq.cpython-38.pyc
  backend/flask-api/resources/__pycache__/contact_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/data_retriever_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/faq.cpython-38.pyc
  backend/flask-api/resources/__pycache__/mail_sender_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/review.cpython-38.pyc
  backend/flask-api/resources/review.py
  backend/flask-api/test.db
  backend/flask-api/utils/__pycache__/data_retriever.cpython-38.pyc
  backend/flask-api/utils/__pycache__/mail_sender.cpython-38.pyc
  frontend/booken/src/components/BookInfo.vue
Labels: backend, bug, enhancement, frontend

#445 asd
  frontend/booken/src/components/BookInfo.vue
  frontend/booken/src/components/Front.vue
  frontend/booken/src/components/ShowBooks.vue
Labels: enhancement, frontend

#450 Us35/36 t2
  backend/flask-api/__pycache__/add_data.cpython-38.pyc
  backend/flask-api/__pycache__/app.cpython-38.pyc
  backend/flask-api/__pycache__/data.cpython-38.pyc
  backend/flask-api/__pycache__/db.cpython-38.pyc
  backend/flask-api/add_data.py
  backend/flask-api/app.py
  backend/flask-api/data.db
  backend/flask-api/migrations/__pycache__/env.cpython-38.pyc
  backend/flask-api/migrations/versions/__pycache__/0d8340630811_.cpython-38.pyc
  backend/flask-api/migrations/versions/__pycache__/b762289ca485_.cpython-38.pyc
  backend/flask-api/migrations/versions/__pycache__/fb6e685a6101_.cpython-38.pyc
  backend/flask-api/migrations/versions/b762289ca485_.py
  backend/flask-api/migrations/versions/fb6e685a6101_.py
  backend/flask-api/models/__pycache__/accounts.cpython-38.pyc
  backend/flask-api/models/__pycache__/address.cpython-38.pyc
  backend/flask-api/models/__pycache__/articles.cpython-38.pyc
  backend/flask-api/models/__pycache__/author.cpython-38.pyc
  backend/flask-api/models/__pycache__/book.cpython-38.pyc
  backend/flask-api/models/__pycache__/category_faq.cpython-38.pyc
  backend/flask-api/models/__pycache__/contact.cpython-38.pyc
  backend/flask-api/models/__pycache__/faq.cpython-38.pyc
  backend/flask-api/models/__pycache__/interface.cpython-38.pyc
  backend/flask-api/models/__pycache__/log.cpython-38.pyc
  backend/flask-api/models/__pycache__/orders.cpython-38.pyc
  backend/flask-api/models/__pycache__/payment_card.cpython-38.pyc
  backend/flask-api/models/__pycache__/review.cpython-38.pyc
  backend/flask-api/models/__pycache__/wishlist.cpython-38.pyc
  backend/flask-api/models/interface.py
  backend/flask-api/resources/__pycache__/account_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/address_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/article.cpython-38.pyc
  backend/flask-api/resources/__pycache__/author.cpython-38.pyc
  backend/flask-api/resources/__pycache__/book.cpython-38.pyc
  backend/flask-api/resources/__pycache__/category_faq.cpython-38.pyc
  backend/flask-api/resources/__pycache__/contact_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/data_retriever_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/faq.cpython-38.pyc
  backend/flask-api/resources/__pycache__/interface.cpython-38.pyc
  backend/flask-api/resources/__pycache__/login_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/logs_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/mail_sender_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/order.cpython-38.pyc
  backend/flask-api/resources/__pycache__/payment_card_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/review.cpython-38.pyc
  backend/flask-api/resources/__pycache__/wishlist.cpython-38.pyc
  backend/flask-api/resources/interface.py
  backend/flask-api/utils/__pycache__/data_retriever.cpython-38.pyc
  backend/flask-api/utils/__pycache__/mail_sender.cpython-38.pyc
Labels: backend

#455 Us3536t1
  frontend/booken/package-lock.json
  frontend/booken/package.json
  frontend/booken/src/components/BookInfo.vue
  frontend/booken/src/components/Front.vue
Labels: frontend

#459 asdasdas
  frontend/booken/src/App.vue
  frontend/booken/src/components/BookInfo.vue
  frontend/booken/src/components/Front.vue
  frontend/booken/src/components/Search.vue
Labels: enhancement, frontend

#465 enh7
  backend/flask-api/__pycache__/add_data.cpython-38.pyc
  backend/flask-api/__pycache__/app.cpython-38.pyc
  backend/flask-api/__pycache__/data.cpython-38.pyc
  backend/flask-api/__pycache__/db.cpython-38.pyc
  backend/flask-api/app.py
  backend/flask-api/data.db
  backend/flask-api/migrations/__pycache__/env.cpython-38.pyc
  backend/flask-api/migrations/versions/__pycache__/de7977e02120_.cpython-38.pyc
  backend/flask-api/migrations/versions/__pycache__/fb6e685a6101_.cpython-38.pyc
  backend/flask-api/migrations/versions/de7977e02120_.py
  backend/flask-api/models/__pycache__/accounts.cpython-38.pyc
  backend/flask-api/models/__pycache__/address.cpython-38.pyc
  backend/flask-api/models/__pycache__/articles.cpython-38.pyc
  backend/flask-api/models/__pycache__/author.cpython-38.pyc
  backend/flask-api/models/__pycache__/book.cpython-38.pyc
  backend/flask-api/models/__pycache__/category_faq.cpython-38.pyc
  backend/flask-api/models/__pycache__/contact.cpython-38.pyc
  backend/flask-api/models/__pycache__/faq.cpython-38.pyc
  backend/flask-api/models/__pycache__/interface.cpython-38.pyc
  backend/flask-api/models/__pycache__/log.cpython-38.pyc
  backend/flask-api/models/__pycache__/orders.cpython-38.pyc
  backend/flask-api/models/__pycache__/payment_card.cpython-38.pyc
  backend/flask-api/models/__pycache__/review.cpython-38.pyc
  backend/flask-api/models/__pycache__/wishlist.cpython-38.pyc
  backend/flask-api/models/interface.py
  backend/flask-api/resources/__pycache__/account_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/address_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/article.cpython-38.pyc
  backend/flask-api/resources/__pycache__/author.cpython-38.pyc
  backend/flask-api/resources/__pycache__/book.cpython-38.pyc
  backend/flask-api/resources/__pycache__/category_faq.cpython-38.pyc
  backend/flask-api/resources/__pycache__/contact_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/data_retriever_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/faq.cpython-38.pyc
  backend/flask-api/resources/__pycache__/interface.cpython-38.pyc
  backend/flask-api/resources/__pycache__/login_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/logs_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/mail_sender_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/order.cpython-38.pyc
  backend/flask-api/resources/__pycache__/payment_card_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/review.cpython-38.pyc
  backend/flask-api/resources/__pycache__/wishlist.cpython-38.pyc
  backend/flask-api/resources/interface.py
  backend/flask-api/tests/Interface_test.py
  backend/flask-api/utils/__pycache__/data_retriever.cpython-38.pyc
  backend/flask-api/utils/__pycache__/mail_sender.cpython-38.pyc
Labels: backend, enhancement

#466 fix tests
  backend/flask-api/tests/Interface_test.py
Labels: backend, bug, enhancement

#473 Us3536t3
  backend/flask-api/__pycache__/db.cpython-38.pyc
  backend/flask-api/data.db
  backend/flask-api/migrations/__pycache__/env.cpython-38.pyc
  backend/flask-api/migrations/versions/09fed9d7db68_.py
  backend/flask-api/migrations/versions/__pycache__/09fed9d7db68_.cpython-38.pyc
  backend/flask-api/migrations/versions/__pycache__/de7977e02120_.cpython-38.pyc
  backend/flask-api/models/__pycache__/interface.cpython-38.pyc
  backend/flask-api/models/interface.py
  backend/flask-api/resources/__pycache__/book.cpython-38.pyc
  backend/flask-api/resources/__pycache__/interface.cpython-38.pyc
  backend/flask-api/resources/book.py
  backend/flask-api/resources/interface.py
  backend/flask-api/test.db
  backend/flask-api/utils/__pycache__/mail_sender.cpython-38.pyc
  frontend/booken/src/components/BookInfo.vue
  frontend/booken/src/components/Front.vue
Labels: backend, bug, enhancement, frontend

#478 asd
  frontend/booken/src/components/ControlPanel.vue
Labels: bug, frontend

#484 ASD
  backend/flask-api/data.db
  backend/flask-api/models/__pycache__/orders.cpython-38.pyc
  backend/flask-api/models/orders.py
  backend/flask-api/resources/__pycache__/order.cpython-38.pyc
  frontend/booken/src/components/ControlPanel.vue
  frontend/booken/src/components/Front.vue
  frontend/booken/src/components/ShowBooks.vue
Labels: backend, bug, enhancement, frontend

#485 started migration to production db
  backend/flask-api/__pycache__/config.cpython-38.pyc
  backend/flask-api/__pycache__/db.cpython-38.pyc
  backend/flask-api/config.py
  backend/flask-api/db.py
  backend/flask-api/requirements.txt
Labels: backend

#487 fixed search issue
  backend/flask-api/__pycache__/config.cpython-38.pyc
  frontend/booken/src/components/Search.vue
Labels: bug, frontend

#492 reviews added
  backend/flask-api/__pycache__/app.cpython-38.pyc
  backend/flask-api/__pycache__/config.cpython-38.pyc
  backend/flask-api/__pycache__/db.cpython-38.pyc
  backend/flask-api/data.db
  backend/flask-api/models/__pycache__/accounts.cpython-38.pyc
  backend/flask-api/models/__pycache__/address.cpython-38.pyc
  backend/flask-api/models/__pycache__/articles.cpython-38.pyc
  backend/flask-api/models/__pycache__/author.cpython-38.pyc
  backend/flask-api/models/__pycache__/book.cpython-38.pyc
  backend/flask-api/models/__pycache__/category_faq.cpython-38.pyc
  backend/flask-api/models/__pycache__/contact.cpython-38.pyc
  backend/flask-api/models/__pycache__/faq.cpython-38.pyc
  backend/flask-api/models/__pycache__/interface.cpython-38.pyc
  backend/flask-api/models/__pycache__/log.cpython-38.pyc
  backend/flask-api/models/__pycache__/orders.cpython-38.pyc
  backend/flask-api/models/__pycache__/payment_card.cpython-38.pyc
  backend/flask-api/models/__pycache__/review.cpython-38.pyc
  backend/flask-api/models/__pycache__/wishlist.cpython-38.pyc
  backend/flask-api/resources/__pycache__/account_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/address_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/article.cpython-38.pyc
  backend/flask-api/resources/__pycache__/author.cpython-38.pyc
  backend/flask-api/resources/__pycache__/book.cpython-38.pyc
  backend/flask-api/resources/__pycache__/category_faq.cpython-38.pyc
  backend/flask-api/resources/__pycache__/contact_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/data_retriever_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/faq.cpython-38.pyc
  backend/flask-api/resources/__pycache__/interface.cpython-38.pyc
  backend/flask-api/resources/__pycache__/login_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/logs_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/mail_sender_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/order.cpython-38.pyc
  backend/flask-api/resources/__pycache__/payment_card_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/review.cpython-38.pyc
  backend/flask-api/resources/__pycache__/wishlist.cpython-38.pyc
  backend/flask-api/utils/__pycache__/data_retriever.cpython-38.pyc
  backend/flask-api/utils/__pycache__/mail_sender.cpython-38.pyc
Labels: backend, enhancement

#497 SEP-logs
  backend/flask-api/resources/logs_rs.py
  backend/flask-api/tests/Log_test.py
Labels: backend
