Repository UB-ES-2020-A/Booken, pull requests merged in 2020-11, with the labels that each got.

#99 book covers not so big in front page
  frontend/booken/package-lock.json
  frontend/booken/src/components/Front.vue
Labels: frontend

#108 books appear good
  backend/flask-api/__pycache__/app.cpython-38.pyc
  backend/flask-api/__pycache__/db.cpython-38.pyc
  backend/flask-api/models/__pycache__/accounts.cpython-38.pyc
  backend/flask-api/models/__pycache__/author.cpython-38.pyc
  backend/flask-api/models/__pycache__/book.cpython-38.pyc
  backend/flask-api/resources/__pycache__/account_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/author.cpython-38.pyc
  backend/flask-api/resources/__pycache__/book.cpython-38.pyc
  backend/flask-api/resources/__pycache__/login_rs.cpython-38.pyc
  backend/flask-api/resources/book.py
  frontend/booken/src/components/BookInfo.vue
  frontend/booken/src/components/ShowBooks.vue
Labels: backend, frontend

#117 cart linked and account
  frontend/booken/package-lock.json
  frontend/booken/package.json
  frontend/booken/src/App.vue
  frontend/booken/src/components/Access.vue
  frontend/booken/src/components/BookInfo.vue
  frontend/booken/src/components/Shopping_cart.vue
  frontend/booken/src/components/ShowBooks.vue
  frontend/booken/src/main.js
  frontend/booken/src/router/index.js
Labels: frontend

#134 update book & add book linkage with api
  backend/flask-api/__pycache__/app.cpython-38.pyc
  backend/flask-api/__pycache__/db.cpython-38.pyc
  backend/flask-api/data.db
  backend/flask-api/models/__pycache__/accounts.cpython-38.pyc
  backend/flask-api/models/__pycache__/author.cpython-38.pyc
  backend/flask-api/models/__pycache__/book.cpython-38.pyc
  backend/flask-api/models/__pycache__/contact.cpython-38.pyc
  backend/flask-api/models/__pycache__/orders.cpython-38.pyc
  backend/flask-api/resources/__pycache__/account_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/author.cpython-38.pyc
  backend/flask-api/resources/__pycache__/book.cpython-38.pyc
  backend/flask-api/resources/__pycache__/contact_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/login_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/order.cpython-38.pyc
  frontend/booken/src/components/BookInfo.vue
Labels: backend, frontend

#136 Address table added to DB
  backend/flask-api/app.py
  backend/flask-api/migrations/versions/509271076b7d_.py
  backend/flask-api/models/accounts.py
  backend/flask-api/models/address.py
  backend/flask-api/resources/address_rs.py
Labels: backend

#153 complete us4t3
  frontend/booken/src/components/ShowBooks.vue
Labels: backend, frontend

#154 isbn validity check implemented on both modify & update book
  frontend/booken/src/components/BookInfo.vue
Labels: frontend

#155 inputs validate + toasts on all pages (this sprint)
  frontend/booken/src/App.vue
  frontend/booken/src/components/BookInfo.vue
  frontend/booken/src/components/ShowBooks.vue
Labels: frontend

#163 load reviews + post review
  frontend/booken/src/components/BookInfo.vue
Labels: backend, frontend

#164 show orders on cp
  frontend/booken/src/components/ControlPanel.vue
Labels: backend, frontend

#165 cancel order implemented
  frontend/booken/src/components/BookInfo.vue
  frontend/booken/src/components/ControlPanel.vue
Labels: backend, frontend

#166 addresses in profile
  backend/flask-api/app.py
  frontend/booken/src/components/ControlPanel.vue
Labels: backend, frontend

#230 Update .travis.yml
  .travis.yml
Labels: CI/CD

#242 processing payment page & confirm order page
  frontend/booken/package-lock.json
  frontend/booken/package.json
  frontend/booken/src/App.vue
  frontend/booken/src/assets/order-button.scss
  frontend/booken/src/components/ConfirmOrder.vue
  frontend/booken/src/components/ControlPanel.vue
  frontend/booken/src/main.js
  frontend/booken/src/router/index.js
Labels: frontend

#249 shopping cart UI enhancement
  frontend/booken/src/App.vue
  frontend/booken/src/assets/shopping-cart.css
  frontend/booken/src/components/BookInfo.vue
Labels: frontend

#251 fixed bug4
  frontend/booken/src/assets/book_info.css
  frontend/booken/src/components/BookInfo.vue
Labels: frontend

#253 fixed toast stackment
  frontend/booken/src/App.vue
  frontend/booken/src/components/Access.vue
  frontend/booken/src/components/BookInfo.vue
  frontend/booken/src/components/ConfirmOrder.vue
  frontend/booken/src/components/Contact.vue
  frontend/booken/src/components/ControlPanel.vue
  frontend/booken/src/components/ShowBooks.vue
Labels: bug, frontend

#254 change user data
  backend/flask-api/__pycache__/app.cpython-38.pyc
  backend/flask-api/__pycache__/db.cpython-38.pyc
  backend/flask-api/models/__pycache__/accounts.cpython-38.pyc
  backend/flask-api/models/__pycache__/address.cpython-38.pyc
  backend/flask-api/models/__pycache__/articles.cpython-38.pyc
  backend/flask-api/models/__pycache__/author.cpython-38.pyc
  backend/flask-api/models/__pycache__/book.cpython-38.pyc
  backend/flask-api/models/__pycache__/contact.cpython-38.pyc
  backend/flask-api/models/__pycache__/orders.cpython-38.pyc
  backend/flask-api/models/__pycache__/payment_card.cpython-38.pyc
  backend/flask-api/models/__pycache__/review.cpython-38.pyc
  backend/flask-api/models/__pycache__/wishlist.cpython-38.pyc
  backend/flask-api/resources/__pycache__/account_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/address_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/article.cpython-38.pyc
  backend/flask-api/resources/__pycache__/author.cpython-38.pyc
  backend/flask-api/resources/__pycache__/book.cpython-38.pyc
  backend/flask-api/resources/__pycache__/contact_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/login_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/order.cpython-38.pyc
  backend/flask-api/resources/__pycache__/payment_card_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/review.cpython-38.pyc
  backend/flask-api/resources/__pycache__/wishlist.cpython-38.pyc
  backend/flask-api/resources/account_rs.py
  frontend/booken/src/components/ControlPanel.vue
  frontend/booken/src/main.js
Labels: backend, frontend

#258 featured books on every book
  frontend/booken/src/components/BookInfo.vue
Labels: frontend

#259 Us38t1
  backend/flask-api/models/__pycache__/accounts.cpython-38.pyc
  frontend/booken/src/components/Contact.vue
  frontend/booken/src/components/Front.vue
Labels: frontend

#262 travis update repo switcheroo
  .travis.yml
Labels: backend

#279 fix bug9
  frontend/booken/package-lock.json
  frontend/booken/src/App.vue
  frontend/booken/src/components/ConfirmOrder.vue
Labels: frontend

#285 Cc
  README.md
  backend/flask-api/add_data.py
  backend/flask-api/app.py
  backend/flask-api/models/accounts.py
  backend/flask-api/models/address.py
  backend/flask-api/models/articles.py
  backend/flask-api/models/author.py
  backend/flask-api/models/contact.py
  backend/flask-api/models/orders.py
  backend/flask-api/models/payment_card.py
  backend/flask-api/resources/account_rs.py
  backend/flask-api/resources/address_rs.py
  backend/flask-api/resources/article.py
  backend/flask-api/resources/author.py
  backend/flask-api/resources/book.py
  backend/flask-api/resources/contact_rs.py
  backend/flask-api/resources/login_rs.py
  backend/flask-api/resources/order.py
  backend/flask-api/resources/payment_card_rs.py
  backend/flask-api/resources/review.py
  frontend/booken/src/assets/main.css
  frontend/booken/src/assets/shopping-cart.css
Labels: backend, frontend

#286 Update .travis.yml
  .travis.yml
Labels: frontend

#288 fixed bug#10
  backend/flask-api/__pycache__/app.cpython-38.pyc
  backend/flask-api/__pycache__/db.cpython-38.pyc
  backend/flask-api/app.py
  backend/flask-api/models/__pycache__/accounts.cpython-38.pyc
  backend/flask-api/models/__pycache__/address.cpython-38.pyc
  backend/flask-api/models/__pycache__/articles.cpython-38.pyc
  backend/flask-api/models/__pycache__/author.cpython-38.pyc
  backend/flask-api/models/__pycache__/book.cpython-38.pyc
  backend/flask-api/models/__pycache__/contact.cpython-38.pyc
  backend/flask-api/models/__pycache__/orders.cpython-38.pyc
  backend/flask-api/models/__pycache__/payment_card.cpython-38.pyc
  backend/flask-api/models/__pycache__/review.cpython-38.pyc
  backend/flask-api/models/__pycache__/wishlist.cpython-38.pyc
  backend/flask-api/resources/__pycache__/account_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/address_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/article.cpython-38.pyc
  backend/flask-api/resources/__pycache__/author.cpython-38.pyc
  backend/flask-api/resources/__pycache__/book.cpython-38.pyc
  backend/flask-api/resources/__pycache__/contact_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/login_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/order.cpython-38.pyc
  backend/flask-api/resources/__pycache__/payment_card_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/review.cpython-38.pyc
  backend/flask-api/resources/__pycache__/wishlist.cpython-38.pyc
Labels: backend, bug

#290 fix bug11
  backend/flask-api/__pycache__/app.cpython-38.pyc
  backend/flask-api/app.py
  frontend/booken/src/main.js
Labels: backend, bug

#293 Us26 t1
  backend/flask-api/__pycache__/add_data.cpython-38.pyc
  backend/flask-api/__pycache__/app.cpython-38.pyc
  backend/flask-api/__pycache__/data.cpython-38.pyc
  backend/flask-api/__pycache__/db.cpython-38.pyc
  backend/flask-api/add_data.py
  backend/flask-api/app.py
  backend/flask-api/data.db
  backend/flask-api/data.py
  backend/flask-api/migrations/__pycache__/env.cpython-38.pyc
  backend/flask-api/migrations/versions/4d712673013f_.py
  backend/flask-api/migrations/versions/__pycache__/4d712673013f_.cpython-38.pyc
  backend/flask-api/migrations/versions/__pycache__/d0053ebf69f8_.cpython-38.pyc
  backend/flask-api/models/__pycache__/accounts.cpython-38.pyc
  backend/flask-api/models/__pycache__/address.cpython-38.pyc
  backend/flask-api/models/__pycache__/articles.cpython-38.pyc
  backend/flask-api/models/__pycache__/author.cpython-38.pyc
  backend/flask-api/models/__pycache__/book.cpython-38.pyc
  backend/flask-api/models/__pycache__/contact.cpython-38.pyc
  backend/flask-api/models/__pycache__/orders.cpython-38.pyc
  backend/flask-api/models/__pycache__/payment_card.cpython-38.pyc
  backend/flask-api/models/__pycache__/review.cpython-38.pyc
  backend/flask-api/models/__pycache__/wishlist.cpython-38.pyc
  backend/flask-api/resources/__pycache__/account_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/address_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/article.cpython-38.pyc
  backend/flask-api/resources/__pycache__/author.cpython-38.pyc
  backend/flask-api/resources/__pycache__/book.cpython-38.pyc
  backend/flask-api/resources/__pycache__/contact_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/login_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/order.cpython-38.pyc
  backend/flask-api/resources/__pycache__/payment_card_rs.cpython-38.pyc
  backend/flask-api/resources/__pycache__/review.cpython-38.pyc
  backend/flask-api/resources/__pycache__/wishlist.cpython-38.pyc
  backend/flask-api/resources/book.py
  backend/flask-api/resources/order.py
  frontend/booken/package-lock.json
  frontend/booken/src/App.vue
  frontend/booken/src/components/ConfirmOrder.vue
  frontend/booken/src/components/ControlPanel.vue
Labels: backend, frontend

#301 Us21 t2
  frontend/booken/src/App.vue
Labels: frontend

#302 Us26 t4
  backend/flask-api/__pycache__/app.cpython-38.pyc
  backend/flask-api/data.db
  backend/flask-api/models/__pycache__/accounts.cpython-38.pyc
  backend/flask-api/models/__pycache__/data_retriever.cpython-38.pyc
  backend/flask-api/models/accounts.py
  backend/flask-api/models/data_retriever.py
  backend/flask-api/resources/__pycache__/data_retriever_rs.cpython-38.pyc
  backend/flask-api/resources/data_retriever_rs.py
  frontend/booken/package-lock.json
  frontend/booken/package.json
  frontend/booken/src/App.vue
  frontend/booken/src/components/ControlPanel.vue
Labels: backend, frontend

#312 fix round issue
  backend/flask-api/models/__pycache__/data_retriever.cpython-38.pyc
  backend/flask-api/models/data_retriever.py
  backend/flask-api/resources/__pycache__/data_retriever_rs.cpython-38.pyc
Labels: backend, bug

#313 fix bug13
  backend/flask-api/data.db
  backend/flask-api/models/__pycache__/data_retriever.cpython-38.pyc
  backend/flask-api/resources/__pycache__/order.cpython-38.pyc
  backend/flask-api/resources/order.py
Labels: backend, bug

#318 fix
  frontend/booken/package-lock.json
  frontend/booken/src/components/ControlPanel.vue
Labels: frontend

#319 animations
  frontend/booken/src/components/ConfirmOrder.vue
Labels: frontend
